---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.jsx';
---

<Layout title="weather-app">
	<Header client:load></Header>
	<main>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad commodi, velit ex adipisci deserunt deleniti doloremque labore, eum reprehenderit vitae in saepe earum dicta quam, ea sed. Dolor, accusantium hic
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ratione commodi voluptatum odit architecto repellendus eveniet fuga, labore ab quisquam repellat numquam id similique eaque aperiam! Excepturi sint saepe numquam.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus earum, alias itaque corporis ipsa, cupiditate asperiores quia saepe mollitia, culpa quibusdam. Consequuntur totam soluta amet explicabo alias nobis hic error!
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est libero beatae tenetur. Qui voluptate consectetur id dicta commodi praesentium, delectus, modi minus beatae placeat consequatur quis nobis corrupti eligendi dolores?
		
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem natus officia maiores provident eius atque, quisquam odio officiis repudiandae sed aliquam saepe nisi, velit consectetur quasi quo fugiat, libero magni.
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, similique doloribus enim pariatur numquam placeat quod distinctio provident fuga? Enim nisi pariatur optio quis libero eligendi eius voluptatibus placeat aspernatur!
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias quasi quisquam excepturi nostrum illo magni id exercitationem repudiandae quibusdam, nulla veritatis quidem nobis placeat expedita dicta optio cum iusto non.
	</main>
</Layout>
